body {
   font-family: 'Josefin Sans', sans-serif;
   margin: 0;
   background-color: #ffffff;
}

.card {
   display: flex;
   flex-direction: column;
}

header img {
   height: auto;
   width: 100%;
}

.title {
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: #1650A4;
   color: #ffffff;
   font-size: 1.4em;
   padding-left: 0px;
   margin-top: -10px;
}

.go_to a {
   position: relative;
   top: 60px;
   height: 150px;
   width: 150px;
   border-radius: 150px;
   background: url(images/carte.png) no-repeat;
   background-position: center;
   background-size: 100px;
   border: none;
   
}  

.infos {
   font-size: 2.5em;
   padding-left: 50px;   
}

.infos div {
   display: flex;
   justify-items: center;
   margin: 5px 0 5px 25px;
}

#adresse {
   list-style-image: url(images/location.png);   
}

#phone {
   list-style-image: url(images/call.png);   
}

#mail {
   list-style-image: url(images/email.png);   
}

#hour {
   list-style-image: url(images/horloge.png);   
}

ul li span {
   position: relative;
   bottom: 20px;   
}

ul li {
   padding-left: 20px;
   list-style-position: outside;
}

.mail a {
   font-size: 0.8em;
}

a {
   text-decoration: none;
   color: black;
}

table {
   table-layout: fixed;
   width: 96%;
   border-collapse:collapse;
}

th, td {
   border: 1px solid;
   text-align: center;
}

.day {
   text-align: left;
}

footer p {
   font-size: 1.9em;
   text-align: center;
}
